.head{
    background-color: cyan;
    font-size: medium;
    color: black;
    position: unset;
    size: unset;
}
.title{
    color: cyan;
    font-size:xx-large;
    position: unset;
    size: unset;
}